[submodule "sim/Assembly-To-Machine-Code-RISC-V"]
	path = sim/Assembly-To-Machine-Code-RISC-V
	url = https://github.com/Kritagya-Agarwal/Assembly-To-Machine-Code-RISC-V.git
[submodule "sim/riscv-assembler"]
	path = sim/riscv-assembler
	url = https://github.com/kcelebi/riscv-assembler.git
[submodule "sim/riscemu"]
	path = sim/riscemu
	url = https://github.com/AntonLydike/riscemu.git
[submodule "sim/rars"]
	path = sim/rars
	url = https://github.com/TheThirdOne/rars.git
